
h2 { 
  color:#00D900;
  text-align: center;
  font-size: 180%;
}

body {
	margin-top: 0px;
	background-image: url(https://images.unsplash.com/photo-1509114397022-ed747cca3f65?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGJhY2tncm91bmQlMjBpbWFnZSUyMHJlZCUyMG9yJTIwb3JhbmdlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
	background-size: cover;
	background-size: 100%;
}

h2:hover {
	cursor:pointer;
}

ol {
	font-size: 120%;
}

img {
	margin:5px 0px;
	width:250px;
	height:150px;
	transition: all 0.8s;
}

img:hover {
	transform: scale(1.1);
}

p {
	text-align: center;
}

.progress {
	margin:5px 5px;
	margin-right: 38px;
}

.main-nav {
  display: flex;
  list-style:none;
  margin: 0px; 
  padding:10px;
  background-color: #2B4B6F;
  justify-items: center;
  width:100%;
  box-shadow: 0 10px 5px 0 rgba(20,100,150,5);

}
.main-nav:hover {
	cursor : pointer;
	background-color: #314457;
	height:60px;
}
h3 {
	font-size:130%;
	margin-top:4.5px;
	text-indent: 20px;
	text-size-adjust:50px;
	color: white;
	font-weight:500;
}

.go {
	font-size:130%;
	text-indent:40px;
	text-size-adjust:50px;
	color: white;
	margin-left: 20px;
	font-weight: 500;
}
