

h2 {
	color: yellow;
	text-align:center;
	font-size: 180%;
}
body {
	background-image: url(https://images.unsplash.com/photo-1535966953907-e3a81e258148?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8bGFwdG9wJTIwd2FsbHBhcGVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
	background-size: cover;
}
h2:hover {
	cursor:pointer;
}
h3 {
	font-size: 130%;
	text-indent: 20px;
	text-size-adjust: 50px;
	color: greenyellow;
}
ol {
	margin-left: 30px;
	font-size: 130%;
}
img {
	margin:5px 0px;
	width:250px;
	height:150px;
	transition: all 0.8s;
}
img:hover {
	transform: scale(1.1);
}
p {
	text-align: center;
	font-size: 110%;
}
.progress{
	margin:10px 38px;
}
* {
	text-align: left;
}